<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title> booklist </title>
        <link rel= "stylesheet" href= "style.css">
    </head>
    <body id="body">
        <br>
        <br>
        <br>
        <h1 style="text-align: center;"> BookList </h1>
        <h1 style="text-align: center;"> Hello, user <%= username %></h1>
        <table id="table" style="font-size:30px; width:1300px;" >
            <colgroup>
              <col span="1" style="width: 25%;">
              <col span="1" style="width: 55%;">
              <col span="1" style="width: 15%;">
              <col span="1" style="width: 5%;">
            </colgroup>
            <tr>
              <td>書名</td>
              <td>簡介</td>
              <td>價格</td>
              <td>訂購本數</td>
            </tr>
            <%
              if(sample_data.length>0){
                sample_data.forEach(
                  function(row){   %>
                    <tr>
                      <td><%= row.bookname %></td>
                      <td><%= row.introduction %></td>
                      <td><%= row.price %></td>
                      <td><input type="text" class="book_order_number" placeholder="0"></td>
                    </tr>
            <%    }
                );
              }
            %>
        </table>
        <br>
        <script type="module">
          //import {submit,reset,logout} from "../javascript/button_actions.js";
          import {submit,reset,back_to_index,logout,button_factory} from "./button_actions.js";
          const div = document.createElement("div");
          div.className = "wrapper";
          const body = document.getElementById("body");
          const style = "text-align: center;font-size:20px; height:30px; width:150px";

          const submit_button = button_factory("submit",style,submit);
          const rest_button= button_factory("reset",style,reset);
          const logout_button = button_factory("logout",style,logout);
          const back_to_index_button = button_factory("index",style,back_to_index);
          div.appendChild(submit_button);
          div.append("   ")
          div.appendChild(rest_button);
          div.append("   ")
          div.appendChild(back_to_index_button);
          body.appendChild(div);
        </script>
        <!--
        <div class="wrapper" >
          <input type="submit"  onclick="submit()" style="text-align: center;font-size:20px;" value="submit">
          <input type="submit"  onclick="reset()" style="text-align: center;font-size:20px;" value="reset">
          <input type="submit"  onclick="logout()" style="text-align: center;font-size:20px;" value="logout">
        </div>-->
    </body>
</html>
