<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title> login page </title>
        <link rel= "stylesheet">
    </head>
    <body id="body">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h2 style="text-align: center;">Reset Password</h2>
        <br>
        <div style="text-align: center;font-size:20px;" id="div1">
            <label for="fname">username:</label>
            <input type="text" id="username" name="username" style="width: 300px"><br><br>
            <label for="lname">password:</label>
            <input type="password" id="password" name="password" style="width: 300px"><br><br>
            <label for="lname">password2:</label>
            <input type="password" id="password2" name="password2" style="width: 300px"><br><br>
            <br>
            <script type="module">
                import {reset_password,button_factory} from "../../button_actions.js";
                const div = document.createElement("div2");
                div.style="width: 300px; margin: 0 auto;"
                const style = "text-align: center;font-size:20px;";
                const submit_button = button_factory("submit",style,reset_password)
                const index_button = button_factory("home page",style,()=>{window.location = `/index`})
                div.appendChild(index_button);
                div.append(" ")
                div.appendChild(submit_button);
                document.getElementById("div1").append(div);
            </script>
        </div>
    </body>
</html>
