<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title> login page </title>
        <link rel= "stylesheet">

    </head>
    <body id="body">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h2 style="text-align: center;">Reset Password</h2>
        <br>
        <div style="text-align: center;font-size:20px;" id="div1">
            <label for="fname">username:</label>
            <input type="text" id="username" name="username" style="width: 300px"><br><br>
            <label for="lname">email:</label>
            <input type="text" id="email" name="email" style="width: 300px"><br><br>
            <br>
            <script type="module">
                import {send_email,button_factory,back_to_index} from "./button_actions.js";
                const div = document.createElement("div2");
                // div.className = "wrapper";
                const style = "text-align: center;font-size:20px;";
                const submit_button = button_factory("send_email",style,send_email)
                const index_button = button_factory("home page",style,back_to_index)
                div.appendChild(index_button);
                div.append(" ");
                div.appendChild(submit_button);
                document.getElementById("div1").append(div);
            </script>
        </div>
    </body>
</html>
